---
import Gilberto from "../../assets/img/Gilberto.jpg";
---

<!-- Contenedor principal -->
<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <!-- Imagen -->
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={Gilberto.src}
      alt="Foto de Gilberto"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Texto -->
  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      Mi nombre es <span class="text-white text-shadow">Gilberto</span>
    </h2>
    <p class="mt-4">
      Soy de <span class="text-primary font-semibold">Venezuela</span> y actualmente
      Me presento como
      <span class="text-primary font-semibold"
        >Estudiante Universitario Cursando el 8vo semestre</span
      >, con un enfoque principal en el <span class="text-primary font-semibold"
        >desarrollo backend</span
      > y en mediana parte en el
      <span class="text-primary font-semibold"> frontend</span>,
      usando tecnologías como <span class="text-primary italic"
        >Angular,JavaScript, TypeScript, Bootstrap,HTML, CSS,
        Node.js, Express.js,MySQL,Postgresql,Sprint boot</span
      >.
    </p>
    <p class="mt-2">
      🔥Me Gusta Desarrollar<span class="text-primary font-semibold"
        >Aplicaciones</span
      > que tengan
      <span class="text-primary font-semibold">un Impacto significativo</span> Me gusta 
       el desarrollo de
      <span class="text-primary font-semibold"
        >Aplicaciones que busquen soluciones a problemas de la vida real</span
      > actualmente
      <span class="text-primary font-semibold">UnCuyo</span>. Estudio En la Universitaria de Oriente Nucleo Nueve Esparta<span
        class="text-primary font-semibold">Lic. Informatica </span
      > Mi Lenguaje de desarrollo favorito es Java fue el segundo lenguaje de programción que aprendi en la Carrera. Me gusta aprender nuevas 
      <span class="text-primary font-semibold">curiosidad</span>, continué
      Tecnologias de desarrollador backend enfocadas en optimizacion.
      <span class="text-primary font-semibold">Me considero autodidacta</span>, y siempre 
      <span class="text-primary font-semibold"
        >Estoy abierto al aprendizaje continuo/span
      >, En Todo los Aspectos Tecnologicos.<span
        class="text-primary font-semibold">profesional</span
      >.
    </p>
    <p class="mt-2">
      Siempre estoy comprometido con un <span class="text-primary font-semibold"
        >constante crecimiento</span
      > y
      <span class="text-primary font-semibold">mejora</span> en mis habilidades,
      buscando adaptarme a los nuevos
      <span class="text-primary font-semibold">avances tecnológicos</span> y superarme
      a nivel
      <span class="text-primary font-semibold">profesional</span> y <span
        class="text-primary font-semibold">personal</span
      >.
    </p>
  </div>
</div>
